<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Add Book</title>
    </head>
    <body>
        <p> Add new book </p>


        <form  action="#" th:action="@{/private/addBook}"  th:object="${book}" method="post"  >

            <p> Title </p> <input type="text"  th:field="*{title}" name="title"/> 
         
            <p> Number of pages </p> <input type="text" th:field="*{numbOfPages}" name="enumbOfPages"/>  
                    
            <p><input type="submit" value="Save"  /></p>
            
        </form>

        
    </body>
</html>
