<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>All authors</title>
        
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>
    <body>

        <table class="authorTable">
            <thead>
            <tr>              
                <th>First name</th>
                <th>Last name</th>
            </tr>       
                </thead>
            
            <tbody>
                
            </tbody>
        </table>

        <script type="text/javascript">
              $(document).ready(function(){
            $.get("http://localhost:8080/private/getAuthors", function (data) {
            $.each(data, function (i, user) {
            $("table tbody").append(
            "<tr><td>" + user.fName + "</td>" +
            "<td>" + user.lName + "</td></tr>");
            });
            });
            });
        </script>


        <p>  <a th:href="@{/private/addAuthor}">Add new author</a> </p>
        <p>Click <a th:href="@{/}">here</a> to return a home page.</p>
    </body>
</html>