<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Drivers </title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js" type="text/javascript"></script>
        <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <body>
        <script>
            var app = angular.module('public', []);

            app.controller('myCtrl', function($scope, $http,$location) {
            $scope.drivers = [];
            $scope.restMessage;
            $scope.currentDriver = [];
            $scope.indexUpdate;

            $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
            });

            function getAll(){
            var url = "http://localhost:8080/api/driver/all";

            $http.get(url).then(function(response){
            $scope.drivers = response.data;
            }, function error(response) {
            $scope.restMessage = "Error Status: " +  response.statusText;
            });     
            }

            getAll();

            $scope.delete = function(index){

            $http.delete('http://localhost:8080/api/driver/delete/' + $scope.drivers[index].id).then(function (response) {

            $scope.restMessage = "Deleted a driver : " + $scope.drivers[index].fName + $scope.drivers[index].lName  + " ! ";

           
            
             $scope.drivers.splice(index,1);
             window.location.replace('http://localhost:8080/public/drivers');
             $('#myModal').modal('show');
            

            }, function error(response) {

            $scope.restMessage = "Error!";
            });
            }


            $scope.add = function(){

            var data = {
            fName: $scope.fName,
            lName: $scope.lName,
            drivingLicDate: $('#datepicker').val(),
            categories: $scope.categories
            }

            var config = {
            headers : {
            'Content-Type': 'application/json',
            'Accept': 'application/json'
            }
            }

            $http.post('http://localhost:8080/api/driver/add',data,config).then(function (response) {

            $scope.restMessage = " Added a new driver " ;
            $scope.drivers.push(data);
            
window.location.replace('http://localhost:8080/public/drivers');
            $('#myModal').modal('show'); 

            
            $scope.fName = "";
            $scope.lName ="";
            $scope.drivingLicDate="";
            $scope.categories="";
            
            

            }, function error(response){
            $scope.restMessage = "Error!" + response.statusText;

            });

            }

            $scope.copy= function(index){

            $scope.indexUpdate = index;
            $scope.currentDriver = $scope.drivers[index];
            $scope.fName = $scope.currentDriver.fName;
            $scope.lName = $scope.currentDriver.lName;
            $scope.drivingLicDate =  $('#datepicker').val();
            $scope.categories = $scope.currentDriver.categories;



            }


            $scope.update = function(){

            var config = {
            headers : {
            'Content-Type': 'application/json',
            'Accept': 'text/plain'
            }
            }

            var data2 = {
            id: $scope.currentDriver.id,
            fName: $scope.fName,
            lName: $scope.lName,
            drivingLicDate:  $('#datepicker').val(),
            categories: $scope.categories
            }


            $http.put('http://localhost:8080/api/driver/update/', data2 , config).then(function (response) {
           
            $scope.restMessage = "Edited a driver ";

            $('#myModal').modal('show');
            
            $scope.drivers[$scope.indexUpdate].fName = data2.fName;
            $scope.drivers[$scope.indexUpdate].lName = data2.lName;
            $scope.drivers[$scope.indexUpdate].drivingLicDate =  $('#datepicker').val();
            $scope.drivers[$scope.indexUpdate].categories = data2.categories;

            $scope.fName = "";
            $scope.lName ="";
            $scope.drivingLicDate.val="";
            $scope.categories="";


            }, function error(response) {

            $scope.restMessage = "Error" + response.statusText;
            });

            }



            });

        </script>

        <style type="text/css">
            .container.custom-container {
                padding: 0 50px;
            }

            .my-form{
                width: 30%; /* value of your choice */
            }

        </style>


    </head>
<body ng-app="public" ng-controller="myCtrl" >



    <div class="container">
        <h2> Drivers </h2>
        <div class="reglist">
            <table class="table table-striped">

                <thead>

                    <tr>
                        <th>#</th>

                        <th>First name</th>

                        <th>PLast name</th>

                        <th>Driving licence date</th>

                        <th>Categories</th>

                        <th></th>

                        <th></th>

                    </tr>

                </thead>

                <tbody>

                    <tr ng-repeat="driver in drivers" ng-model="driver"  >

                        <td>{{ $index + 1 }}</td>

                        <td>{{ driver.fName }}</td>

                        <td>{{ driver.lName }}</td>

                        <td>{{ driver.drivingLicDate }}</td>

                        <td>{{ driver.categories }}</td>

                        <td>

                            <button type="button" class="btn btn-info" ng-click="copy($index)" > Edit</button>

                        </td>

                        <td>

                            <button  href="# "type="button"  class="btn btn-danger" ng-click="delete($index)" >Delete</button>

                        </td>

                    </tr>

                </tbody>

            </table>

            <div class="my-form mx-auto">

                <div class="form">
                    <form >

                        <div class="form-group">
                            <label for="fName">First name</label>
                            <input  type="text" class="form-control" name="brand" placeholder="Enter First Name" ng-model="fName"/>   
                        </div>

                        <div class="form-group">
                            <label for="lName">Last name:</label>
                            <input type="text"  class="form-control" name="productionDate" placeholder="Enter Last Name" ng-model="lName"/>
                        </div>

                        <div class="form-group">
                            <label for="drivingLicDate">Driving licence date: </label>
                            <input type="text" id="datepicker" class="form-control" name ="drivingLicDate"  placeholder="Choose Driving Licence Date" ng-model="drivingLicDate" />

                        </div>

                        <div class="form-group">
                            <label for="categories">Categories: </label>
                            <input type="text" class="form-control" name="numberOfDoors" placeholder="Enter Categories" ng-model="categories"/>
                        </div>


                        <button type="submit" class="btn btn-success"  href="#" ng-click="add()">Add Driver</button>
                        <button type="submit" class="btn btn-info" ng-click="update()" > Submit changes</button>
                    </form>



                </div>


            </div>





        </div>
        
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Message</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <p> {{restMessage}} </p>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

    </div>



    <br>
</body>
</html>